body{
    background-color: rgb(61, 42, 79);
    justify-content: center;
    align-items: center;   
}

#cabecalho, #gerador, #escolhas, #obv{
    text-align: center;
    color: rgb(33, 22, 234);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(190, 204, 236);
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 1000px;
    border-radius: 15px;
}

#obv ul{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

#secao{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    padding-top: 40px;
    margin: 10px 0 10px 0 ;

}

th, td {
    border: 2px solid #171515;
    padding: 12px;
    text-align: center;
    background-color: rgb(228, 217, 239);
    }

#resultado{
  color: #171515;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px 25px;
    font-size: 16px;
    background-color: #2630be;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    }

button:hover {
    background-color: #0056b3;
    }


label{
   display: inline;
   margin-top: 10px;
   margin-bottom: 15px;
   font-weight: bold;
   display: flex;
   align-items: center;
   gap: 6px; 
   cursor: pointer;
   
}

#escolhas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: rgb(33, 22, 234);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: rgb(190, 204, 236);
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  width: 1000px;
  border-radius: 15px;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 0.125rem solid #0618dfe7;
  border-radius: 0.25rem;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.75rem;
  height: 0.75rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  transition: 0.125s transform ease-in-out;
  box-shadow: inset 1rem 1rem #fff;
}

input[type="checkbox"]:checked {
  background-color: #0618dfe7;
  border-color: #0618dfe7;
}

input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"]:disabled {
  opacity: 0.25;
}

input[type="checkbox"]:focus {
  border-color: #0618dfe7;
}

input[type="checkbox"]:focus + label {
  color: #0618dfe7;
}
